html {
    height: 100%;
    background: #63D0FF;
}

body {
    margin: 0;
    padding: 0;
    background: #63D0FF;
    height: 100%;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#clouds {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds2-tinypng.png") repeat-x 0 bottom #ACE6FF;
    width: 100%;
    height: 230px;
    /*190px*/
    min-height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0.01);
    transform: translate3d(0, 0, 0.01);
}

#ground {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/grass_tile-tinypng.png") repeat-x 0 0 transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 192px;
    min-height: 192px;
    border: 0 none transparent;
    outline: 0 none transparent;
    -webkit-transform: translate3d(0, 0, 0.01);
    transform: translate3d(0, 0, 0.01);
    will-change: transform;
}
.button {
  list-style: none;
  width: 250px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  left: calc(50% - 125px);
  border: 1px solid $red-900;
  background-color: $red-500;
  text-shadow: #333333 1px 1px 1px;
  font-size: 24px;
  cursor: pointer;
  
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, .6);
  
  
}
.button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, 1);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 25px;
  }
.button--Solo {
  top: 250px;
}
.button--Cooperative {
  top: 325px;
}

.button--Competitive {
  top: 400px;
}

.button--Local {
  top: 475px;
}
.button--Network_Multiplayer {
  top: 550px;
}
.button--exit {
  top: 625px;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
