.bcksolo{
  background-image: url(solo.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    margin: 0;
    padding: 0;
    height: 100%;
}


.card1{


    position: absolute;
    top: 0%;
    left: 50%;
        max-width: 100%;
    max-height: 100%;
}


.card2{
    position: absolute;
    top: 45%;
    left: 0%;
}

.card3{
    position: absolute;
    top: 45%;
    left: 50%;
}

.card4{
    position: absolute;
      top: 45%;
    left: 50.5%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.item {
  transition: 2s all;
  cursor: pointer;
  text-align: center;
}
.item-top {
  color: red;
}
.item-bottom {
  color: green;
}
.item-force-move {
  transform: translateY(0) !important;
}
