.bcksolo{
  background-image: url(solo.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    margin: 0;
    padding: 0;
    height: 100%;
}



.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.width1{
    width: 0%;
}

.width2{
    width: 0%;
}
.width3{
    width: 0%;
}
.width3{
    width: 0%;
}
.item {
  transition: 2s all;
  cursor: pointer;
  text-align: center;
}
.item-top {
  color: red;
}
.item-bottom {
  color: green;
  position: absolute;
  bottom: 0vh;
  left: 25vh;
}

.item-bottom2 {
  color: green;
  position: absolute;
  bottom: 0vh;
  left: 50vh;
}

.item-bottom3 {
  color: green;
  position: absolute;
  bottom: 0vh;
  left: 75vh;
}

.item-rear {
  color: blue;
  position: absolute;
  bottom: 0vh;
}

.item-force-move {
  transform: translateY(0) !important;
}
